.box {
  background-color: white;
  padding: 40px;
  padding-top: 50px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.title {
  letter-spacing: 1px;
}
