.form {
  display: flex;
  flex-direction: column;
  /* padding-right: 40px; */
  margin-bottom: 70px;
}

.input {
  outline: none;
  border: none;
  border-bottom: 2px solid tomato;
  background: none;
  padding: 5px 10px;
  margin-bottom: 15px;
  width: 180px;
}
.btn {
  background-color: lightseagreen;
  border: none;
  padding: 15px 20px;
  color: white;
  text-transform: uppercase;
  border-radius: 7px;
  font-weight: 700;
  box-shadow: 0px 10px 13px -7px #000000;
  transition: all 250ms;
}
.btn:hover,
.btn:focus {
  background-color: rgb(31, 161, 155);
}
.btn:disabled {
  background-color: rgb(95, 93, 93);
}
