.title {
  color: #282828;
  margin-bottom: 70px;
  text-transform: uppercase;
  text-shadow: 0px 10px 13px #000000a6;
}
.text {
  max-width: 195px;
  line-height: 1.74;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
